body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}
.container {
    margin-top: 100px;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
}
button:hover {
    background-color: darkred;
}
